*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
.container1{
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}